@font-face {
    font-family: 'PP Mondwest';
    src: url('/assets/fonts/PPMondwest-Regular.otf');
}

@font-face {
    font-family: 'PP  Neuebit';
    src: url('/assets/fonts/PPNeueBit-Bold.otf');
}

@font-face {
    font-family: 'PP Neue World';
    src: url('/assets/fonts/PPNeueWorld-Regular.otf');
}

@font-face {
    font-family: 'PP Agrandir';
    src: url('/assets/fonts/PPAgrandir-NarrowRegular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'PP  Neuebit';
    background-image: url('assets/images/BG2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-family: "PP Neue World";
    color: white;
    font-size: 100px;
    text-shadow:
        -1px 1px 0 #FF25C2,
        0 0 60px #FF25C2,
        0 0 90px #FF25C2;
}

p {
    font-family: 'PP Agrandir';
    font-size: 16px;
    color: white;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.childContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.description {
    width: 990px;
    text-align: center;
}

.navBtn {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin-top: 90px;
}

.navBtn> :nth-child(1) {
    height: 70px;
    width: 190px;
    background-color: rgba(255, 255, 255, 0.312);
    text-align: center;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    border: white solid 2px;
    font-size: 20px;
    cursor: pointer; 
}

.navBtn a:nth-child(1) {
    text-decoration: none;
    color: white;
    text-shadow:
        3px 3px 6px #FF25C2,
        0 0 10px #FF25C2,
        0 0 20px #FF25C2;
}

.navBtn> :nth-child(2) {
    height: 70px;
    width: 190px;
    background-color: rgba(255, 255, 255, 0.312);
    text-align: center;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    border: white solid 2px;
    font-size: 20px;
    cursor: pointer; 
}

.navBtn a:nth-child(2) {
    text-decoration: none;
    color: white;
}

.team {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    font-family: 'PP Agrandir';
}

.team a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-shadow:
        3px 3px 6px #FF25C2,
        0 0 10px #FF25C2,
        0 0 20px #FF25C2;
}