@font-face {
    font-family: 'PP Mondwest';
    src: url('/assets/fonts/PPMondwest-Regular.otf');
}

@font-face {
    font-family: 'PP  Neuebit';
    src: url('/assets/fonts/PPNeueBit-Bold.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'PP  Neuebit';
  background-image: url('assets/images/BG1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#game-start-page {
  display: flex;
  align-items: center;
  top: 130px;
  left: 10vw;
  width: 80vw;
  height: 500px;
}

#score-board {
  display: none;
  flex-direction: column;
  align-items: center;
  top: 30vh;
  left: 30vw;
  width: 500px;
  animation-name: boxAppears;
  animation-duration: 1s;
}

#end-game-board {
  display: none;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 20vw;
  width: 700px;
  animation-name: boxAppears;
  animation-duration: 1s;
}

#game-start-page,
#score-board,
#end-game-board {
  position: fixed;
  border: solid 3px black;
  background-color: white;
  border-radius: 20px;
  padding: 30px 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}

#end-game-buttons {
  display: flex;
}

#end-game-board p,
#score-board p {
  line-height: 35px;
  font-size: 22px;
}

.board-total-p,
#board-total-score,
#end-game-score {
  font-weight: bold;
  font-size: 30px;
}

.game-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-description img {
  width: 100%;
  height: auto;
}

.game-description p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 10px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
}

h1 {
  margin: 50px 0 30px 0;
  text-align: center;
  font-family: "PP Mondwest";
  color: white;
  font-size: 50px;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-family: "PP Mondwest", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 15px 0;
}

header p {
  font-size: 20px;
}

.note-def:hover,
.btn-control:hover {
  /* background-color: rgb(0, 38, 255); */
}

.note-def:active {
  transform: scale(0.8);
}